<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Diary</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("Diary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @{
                    if (Session["username"] != null)
                    {
                        @:<li class="nav-item"><a class="nav-link" href="#">@Session["username"]</a></li>
                        @:<li class="nav-item">@Html.ActionLink("Logout", "Logout", "User", new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        @:<li class="nav-item">@Html.ActionLink("Login", "Login", "User", new { @class = "nav-link" })</li>
                        @:<li class="nav-item">@Html.ActionLink("Register", "Register", "User", new { @class = "nav-link" })</li>
                    }
                }
            </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Diary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
