@model _17_33330_1_Mid_Lab.Models.Memory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Memory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Created on
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            Last Modified
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_modified)
        </dd>

        <dt>
            Priority
        </dt>

        <dd style="margin-top: 3px;">
            @{
                if (Model.priority == 1)
                {
                    @:<span class="priority-badge priority-high">High</span>
                }
                else if (Model.priority == 2)
                {
                    @:<span class="priority-badge priority-moderate">Moderate</span>
                }
                else if (Model.priority == 3)
                {
                    @:<span class="priority-badge priority-low">Low</span>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
