@model IEnumerable<_17_33330_1_Mid_Lab.Models.Memory>

@{
    ViewBag.Title = "Memories";
}

<h2>Memories</h2>
<h5>Today: @DateTime.Today.ToLongDateString()</h5>

<p>
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Created On
        </th>
        <th>
            Last Modified
        </th>
        <th>
            Priority
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.title, "Details", new { id = item.id })
        </td>
        <td>
            @{
                if (DateTime.Now.Date == item.created_on.Date)
                {
                    @:Today @item.created_on.ToShortTimeString()
                }
                else if (DateTime.Now.AddDays(-1).Date == item.created_on.Date)
                {
                    @:Yesterday @item.created_on.ToShortTimeString()
                }
                else
                {
                    @item.created_on
                }
            }
        </td>
        <td>
            @{
                if (DateTime.Now.Date == item.last_modified.Date)
                {
                    @:Today @item.last_modified.ToShortTimeString()
                }
                else if (DateTime.Now.AddDays(-1).Date == item.last_modified.Date)
                {
                    @:Yesterday @item.last_modified.ToShortTimeString()
                }
                else
                {
                    @item.last_modified
                }
            }
        </td>
        <td>
            @{ 
                if (item.priority == 1)
                {
                    @:<span class="priority-high">High</span>
                }
                else if (item.priority == 2)
                {
                    @:<span class="priority-moderate">Moderate</span>
                }
                else if (item.priority == 3)
                {
                    @:<span class="priority-low">Low</span>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
